{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'libs/slick-slider/css/slick-theme.css' %}">
{% endblock %}

{% block body_id %}home3{% endblock %}
{% block content %}
   <div class="main-content">
        <div class="wrap-banner">
            <!-- category menu  -->
            <div class="container position">
                <div id="show-menu" class="menu-banner d-xs-none dropdown-menu collapse">
                    <div class="tiva-verticalmenu block">
                        <div class="verticalmenu" role="navigation">
                            <ul class="menu level1">
                                <li class="item parent">
                                <a href="#" class="hasicon" title="{% trans 'SIDE TABLE' %}">
                                    <img src="{% static 'img/home/table-lamp.png' %}" alt="img">
                                    {% trans "SIDE TABLE" %}
                                </a>
                                <div class="dropdown-menu">
                                    <div class="menu-items">
                                        <ul>
                                            <li class="item">
                                                <a href="#" title="{% trans 'Aliquam lobortis' %}">
                                                    {% trans "Aliquam lobortis" %}
                                                </a>
                                            </li>
                                            <li class="item parent-submenu">
                                                <a href="#" title="{% trans 'Duis Reprehenderit' %}">
                                                    {% trans "Duis Reprehenderit" %}
                                                </a>
                                                <span class="show-sub fa-active-sub"></span>
                                                <div class="dropdown-submenu">
                                                    <div class="menu-items">
                                                        <ul>
                                                            <li class="item">
                                                                <a href="#" title="{% trans 'Aliquam lobortis' %}">
                                                                    {% trans "Aliquam lobortis" %}
                                                                </a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="{% trans 'Duis Reprehenderit' %}">
                                                                    {% trans "Duis Reprehenderit" %}
                                                                </a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="{% trans 'Voluptate' %}">
                                                                    {% trans "Voluptate" %}
                                                                </a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="{% trans 'Tongue Est' %}">
                                                                    {% trans "Tongue Est" %}
                                                                </a>
                                                            </li>
                                                            <li class="item">
                                                                <a href="#" title="{% trans 'Venison Andouille' %}">
                                                                    {% trans "Venison Andouille" %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="{% trans 'Voluptate' %}">
                                                    {% trans "Voluptate" %}
                                                </a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="{% trans 'Tongue Est' %}">
                                                    {% trans "Tongue Est" %}
                                                </a>
                                            </li>
                                            <li class="item">
                                                <a href="#" title="{% trans 'Venison Andouille' %}">
                                                    {% trans "Venison Andouille" %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                                <li class="item parent group">
                                <a href="#" class="hasicon" title="{% trans 'FIREPLACE' %}">
                                    <img src="{% static 'img/home/fireplace.png' %}" alt="img">
                                    {% trans "FIREPLACE" %}
                                </a>
                                <div class="dropdown-menu menu-2">
                                    <div class="menu-items">
                                        <div class="item">
                                            <div class="menu-content">

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "DINNING ROOM" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "Toshiba" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Samsung" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier" %}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "BATHROOM" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "Toshiba" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Samsung" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier Media" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Gee" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Digimart" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Vitivaa" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sanaky" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sunshine" %}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "LIVING ROOM" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "Media" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Gee" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Digimart" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Vitivaa" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sanaky" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sunshine" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Toshiba" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Samsung" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier" %}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "BEDROOM" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier" %}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "KITCHEN" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier" %}</a></li>
                                                    </ul>
                                                </div>

                                                <div class="tags">
                                                    <div class="title float-left">
                                                        <b>{% trans "Blender" %}</b>
                                                    </div>
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item"><a href="#">{% trans "LG" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Sharp" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Electrolux" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Hitachi" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Panasonic" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Mitsubishi Electric" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Daikin" %}</a></li>
                                                        <li class="list-inline-item"><a href="#">{% trans "Haier" %}</a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                <li class="item group-category-img parent group">
                                <a href="#" class="hasicon" title="{% trans 'TABLE LAMP' %}">
                                    <img src="{% static 'img/home/table-lamp.png' %}" alt="img">{% trans 'TABLE LAMP' %}
                                </a>
                                <div class="dropdown-menu menu-3">
                                    <div class="menu-items">
                                    <div class="menu-items">
                                        <div class="item">
                                            <div class="menu-content">
                                                <div class="row group-category">
                                                    <div class="mt-20">
                                                        <div class="d-flex">
                                                            <div class="col">
                                                                <span class="menu-title">{% trans 'Coventry dining' %}</span>
                                                                <ul>
                                                                    <li><a href="#">{% trans 'Accessories' %}</a></li>
                                                                    <li><a href="#">{% trans 'Activewear' %}</a></li>
                                                                    <li><a href="#">{% trans 'ASOS Basic Tops' %}</a></li>
                                                                    <li><a href="#">{% trans 'Bags & Purses' %}</a></li>
                                                                    <li><a href="#">{% trans 'Beauty' %}</a></li>
                                                                    <li><a href="#">{% trans 'Coats & Jackets' %}</a></li>
                                                                    <li><a href="#">{% trans 'Curve & Plus Size' %}</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col">
                                                                <span class="menu-title">{% trans 'Amara stools' %}</span>
                                                                <ul>
                                                                    <li><a href="#">{% trans 'Accessories' %}</a></li>
                                                                    <li><a href="#">{% trans 'Activewear' %}</a></li>
                                                                    <li><a href="#">{% trans 'ASOS Basic Tops' %}</a></li>
                                                                    <li><a href="#">{% trans 'Bags & Purses' %}</a></li>
                                                                    <li><a href="#">{% trans 'Beauty' %}</a></li>
                                                                    <li><a href="#">{% trans 'Coats & Jackets' %}</a></li>
                                                                    <li><a href="#">{% trans 'Curve & Plus Size' %}</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="col">
                                                                <span class="menu-title">{% trans 'Kingston dining' %}</span>
                                                                <ul>
                                                                    <li><a href="#">{% trans 'Accessories' %}</a></li>
                                                                    <li><a href="#">{% trans 'Activewear' %}</a></li>
                                                                    <li><a href="#">{% trans 'ASOS Basic Tops' %}</a></li>
                                                                    <li><a href="#">{% trans 'Bags & Purses' %}</a></li>
                                                                    <li><a href="#">{% trans 'Beauty' %}</a></li>
                                                                    <li><a href="#">{% trans 'Coats & Jackets' %}</a></li>
                                                                    <li><a href="#">{% trans 'Curve & Plus Size' %}</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col">
                                                                <span class="menu-title">{% trans 'Ellinger dining' %}</span>
                                                                <ul>
                                                                    <li><a href="#">{% trans 'Accessories' %}</a></li>
                                                                    <li><a href="#">{% trans 'Activewear' %}</a></li>
                                                                    <li><a href="#">{% trans 'ASOS Basic Tops' %}</a></li>
                                                                    <li><a href="#">{% trans 'Bags & Purses' %}</a></li>
                                                                    <li><a href="#">{% trans 'Beauty' %}</a></li>
                                                                    <li><a href="#">{% trans 'Coats & Jackets' %}</a></li>
                                                                    <li><a href="#">{% trans 'Curve & Plus Size' %}</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ml-15">
                                                        <a href="#">
                                                            <img class="img-fluid" src="{% static 'img/home/img-menu.jpg' %}" alt="img">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'OTTOMAN' %}">
                                        <img src="{% static 'img/home/ottoman.png' %}" alt="img">{% trans 'OTTOMAN' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'ARMCHAIR' %}">
                                        <img src="{% static 'img/home/armchair.png' %}" alt="img">{% trans 'ARMCHAIR' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'CUSHION' %}">
                                        <img src="{% static 'img/home/cushion.png' %}" alt="img">{% trans 'CUSHION' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'COFFEE TABLE' %}">
                                        <img src="{% static 'img/home/coffee_table.png' %}" alt="img">{% trans 'COFFEE TABLE' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'SHELF' %}">
                                        <img src="{% static 'img/home/shelf.png' %}" alt="img">{% trans 'SHELF' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'SOFA' %}">
                                        <img src="{% static 'img/home/sofa.png' %}" alt="img">{% trans 'SOFA' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'DRESSING TABLE' %}">
                                        <img src="{% static 'img/home/dressing.png' %}" alt="img">{% trans 'DRESSING TABLE' %}
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" class="hasicon" title="{% trans 'WINDOWN CURTAIN' %}">
                                        <img src="{% static 'img/home/windown.png' %}" alt="img">{% trans 'WINDOWN CURTAIN' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'CHANDELIER' %}">
                                        <img src="{% static 'img/home/chandelier.png' %}" alt="img">{% trans 'CHANDELIER' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'CEILING FAN' %}">
                                        <img src="{% static 'img/home/ceiling_fan.png' %}" alt="img">{% trans 'CEILING FAN' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'WARDROBE' %}">
                                        <img src="{% static 'img/home/wardrobe.png' %}" alt="img">{% trans 'WARDROBE' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'FLOOR LAMP' %}">
                                        <img src="{% static 'img/home/floor_lamp.png' %}" alt="img">{% trans 'FLOOR LAMP' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'VASE-FLOWER' %}">
                                        <img src="{% static 'img/home/vase-flower.png' %}" alt="img">{% trans 'VASE-FLOWER' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'BED' %}">
                                        <img src="{% static 'img/home/bed.png' %}" alt="img">{% trans 'BED' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'BED GIRL' %}">
                                        <img src="{% static 'img/home/bed.png' %}" alt="img">{% trans 'BED GIRL' %}
                                    </a>
                                </li>
                                <li class="item toggleable menu-hidden">
                                    <a href="#" class="hasicon" title="{% trans 'BED BOY' %}">
                                        <img src="{% static 'img/home/bed.png' %}" alt="img">{% trans 'BED BOY' %}
                                    </a>
                                </li>
                                <li class="more item">{% trans 'Show More' %}</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slide-show -->
           <div class="slideshow">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider">
                        {% for banner in banners %}
                            <a href="#" title="Slideshow image">
                                <img class="img-responsive"
                                     src="{{ banner.image.url }}"
                                     title="#caption{{ forloop.counter }}"
                                     alt="Slideshowimage">
                            </a>
                        {% empty %}
                        {% endfor %}
                    </div>

                    {% for banner in banners %}
                        {% if forloop.counter == 1 %}
                            <div id="caption1" class="nivo-html-caption">
                                <div class="tiva-caption">
                                    <div class="left-right hidden-xs">
                                        <p class="caption-1">
                                            {{ banner.title|striptags|linebreaksbr }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="caption{{ forloop.counter }}" class="nivo-html-caption caption">
                                <div class="tiva-caption">
                                    <div class="left-right hidden-xs">
                                        <p class="caption-{{ forloop.counter }}">
                                            <span class="text-1">{{ banner.title|linebreaksbr|safe }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">

                        <!-- living room -->
                        <div class="section product-living-room">
                            <div class="container">
                                <div class="row">
                                    <div class="new-arrivals product-tab col">
                                        <div class="tab-content">
                                            <div class="title-tab-content product-tab justify-content-between">
                                                <div class="title-product">
                                                    <h2>{% trans 'Products on Sale' %}</h2>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div id="new" class="tab-pane fade in active show">
                                                    <div class="category-product owl-carousel owl-theme owl-loaded owl-drag">
                                                        {% for deal in deals %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="{% url 'products:detail' deal.product.id %}">
                                                                        <img class="img-fluid image-cover" src="{{ deal.display_image }}" alt="{{ deal.product.title }}">
                                                                        {% if deal.product.images.all|length > 1 %}
                                                                            <img class="img-fluid image-secondary" src="{{ deal.product.images.all.1.image.url }}" alt="{{ deal.product.title }}">
                                                                        {% endif %}
                                                                    </a>

                                                                    {% if deal.deal_price < deal.product.price %}
                                                                        <div class="product-flags discount">
                                                                            -{{ deal.discount_percent }}%
                                                                        </div>
                                                                    {% endif %}

                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            {% for color in deal.product.colors.all %}
                                                                                <a href="#" class="color {{ color.title|lower }}" title="{{ color.title }}"></a>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="{% url 'products:detail' deal.product.id %}">{{ deal.product.title }}</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                {% for _ in "12345"|make_list %}
                                                                                    {% if forloop.counter <= deal.product.rating %}
                                                                                        <div class="star filled"></div>
                                                                                    {% else %}
                                                                                        <div class="star"></div>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">£{{ deal.deal_price }}</span>
                                                                                {% if deal.deal_price < deal.product.price %}
                                                                                    <del class="regular-price">£{{ deal.product.price }}</del>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        {% in_basket request deal.product.id as is_in_basket %}
                                                                        {% if is_in_basket %}
                                                                            <form action="{% url 'basket:basket_remove' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="remove-from-cart">
                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <form action="{% url 'basket:basket_add' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% endif %}

                                                                        {% in_wishlist request deal.product.id as is_in_wishlist %}
                                                                        {% if is_in_wishlist %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_remove' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_add' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                        <a href="{% url 'products:detail' deal.product.id %}" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% empty %}
                                                        <div class="item text-center">
                                                            <p>{% trans "No deals available" %}</p>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- deal of the day -->
                       <div class="section deal-of-day">
                            <div class="container">
                                <div class="row">
                                    <div class="new-arrivals prodcut-tab col">
                                        <div>
                                            <div class="title-tab-content product-tab">
                                                <div class="title-product text-center">
                                                    <h2>Deal Of The Day</h2>
                                                    <p>Hurry Up, The Same Time Is Not Extended !!!</p>
                                                </div>
                                                <div class="tab-content">
                                                    <div id="deal_of_day" class="slick">
                                                        {% for deal in deals %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="{% url 'products:detail' deal.product.id %}">
                                                                        <img class="img-fluid" src="{{ deal.display_image }}" alt="{{ deal.product.title }}">
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="d-flex justify-content-center" data-time="{{ deal.end_time|date:'c' }}">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="{% url 'products:detail' deal.product.id %}">{{ deal.product.title }}</a>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <span class="price">£{{ deal.deal_price }}</span>
                                                                            <del class="regular-price">£{{ deal.product.price }}</del>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        {% in_basket request deal.product.id as is_in_basket %}
                                                                        {% if is_in_basket %}
                                                                            <form action="{% url 'basket:basket_remove' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="remove-from-cart">
                                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% else %}
                                                                            <form action="{% url 'basket:basket_add' deal.product.id %}" method="post" class="formAddToCart">
                                                                                {% csrf_token %}
                                                                                <button type="submit" class="add-to-cart" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </button>
                                                                            </form>
                                                                        {% endif %}

                                                                        {% in_wishlist request deal.product.id as is_in_wishlist %}
                                                                        {% if is_in_wishlist %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_remove' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            <a class="addToWishlist" href="{% url 'wishlist:wishlist_add' deal.product.id %}" data-rel="{{ deal.product.id }}">
                                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                                            </a>
                                                                        {% endif %}

                                                                        <a href="{% url 'products:detail' deal.product.id %}" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% empty %}
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid" src="img/product/1.jpg" alt="img">
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">No deals available</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- newsletter -->
                        <div class="section newsletter">
                            <div class="container">
                                <div class="row">
                                    <div class="news-content">
                                        <div class="tiva-modules">
                                            <div class="block">
                                                <div class="title-block">{% trans 'Newsletter' %}</div>
                                                <div class="sub-title">{% blocktrans %}Sign up to our newsletter to get the latest articles, lookbooks voucher codes
                                                    direct to your inbox{% endblocktrans %}</div>
                                                <div class="block-newsletter">
                                                    <form action="#" method="post">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="email" value="" placeholder="{% trans 'Enter Your Email' %}">
                                                            <span class="input-group-btn">
                                                                <button class="effect-btn btn btn-secondary" name="submitNewsletter" type="submit">
                                                                    <span>{% trans 'subscribe' %}</span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <input type="hidden" name="action" value="0">
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="block">
                                                <div class="social-content">
                                                    <div id="social-block">
                                                        <div class="social">
                                                            <ul class="list-inline mb-0 justify-content-end">
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-google"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item mb-0">
                                                                    <a href="#" target="_blank">
                                                                        <i class="fa fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Popup newsletter -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'libs/slick-slider/js/slick.min.js' %}"></script>
{% endblock %}