{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}
{% block title %}{{ product.title }}{% endblock %}
{% block body_id %}product-detail{% endblock %}
{% block content %}
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">
                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'products:home' %}">
                                                <span>{% trans 'Home' %}</span>
                                            </a>
                                        </li>
                                        {% if parent_category %}
                                        <li>
                                            <a href="{% url 'products:filter' 'category' parent_category.id %}">
                                                <span>{{ parent_category.title }}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if category %}
                                        <li>
                                            <a href="{% url 'products:filter' 'category' category.id %}">
                                                <span>{{ category.title }}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <span>{{ product.title }}</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">
                                        <!-- category -->
                                        <div class="sidebar-block">
                                            <div class="title-block">Categories</div>
                                            <div class="block-content">
                                                {% for parent in all_categories %}
                                                <div class="cateTitle hasSubCategory open level1">
                                                    <span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#cat{{ parent.id }}">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    <a class="cateItem" href="{% url 'products:filter' 'category' parent.id %}">{{ parent.title }}</a>
                                                    <div class="subCategory collapse" id="cat{{ parent.id }}" aria-expanded="true" role="status">
                                                        {% for child in parent.children.all %}
                                                        <div class="cateTitle">
                                                            <a href="{% url 'products:filter' 'category' child.id %}" class="cateItem">{{ child.title }}</a>
                                                        </div>
                                                        {% empty %}
                                                        <div class="cateTitle">
                                                            <span class="text-muted">{% trans 'No subcategories' %}</span>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <!-- best seller -->
                                        <div class="sidebar-block">
                                            <div class="title-block">
                                                Best seller
                                            </div>
                                            <div class="product-content tab-content">
                                                <div class="row">
                                                    {% for seller in best_sellers %}
                                                    <div class="item col-md-12">
                                                        <div class="product-miniature item-one first-item d-flex">
                                                            <div class="thumbnail-container border">
                                                                <a href="{% url 'products:detail' pk=seller.id %}">
                                                                    {% if seller.images.all %}
                                                                    <img class="img-fluid image-cover" src="{{ seller.images.all.0.image.url }}" alt="{{ seller.title }}">
                                                                    {% if seller.images.all|length > 1 %}
                                                                    <img class="img-fluid image-secondary" src="{{ seller.images.all.1.image.url }}" alt="{{ seller.title }}">
                                                                    {% else %}
                                                                    <img class="img-fluid image-secondary" src="{{ seller.images.all.0.image.url }}" alt="{{ seller.title }}">
                                                                    {% endif %}
                                                                    {% else %}
                                                                    <img class="img-fluid image-cover" src="{% static 'img/product/placeholder.jpg' %}" alt="No image">
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a href="{% url 'products:detail' pk=seller.id %}">{{ seller.title }}</a>
                                                                    </div>
                                                                    <div class="rating">
                                                                        <div class="star-content">
                                                                            {% for i in "12345" %}
                                                                            {% if forloop.counter <= seller.rating|floatformat:0 %}
                                                                            <div class="star filled"></div>
                                                                            {% else %}
                                                                            <div class="star"></div>
                                                                            {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-group-price">
                                                                        <div class="product-price-and-shipping">
                                                                            <span class="price">£{{ seller.price }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <!-- product tag -->
                                        <div class="sidebar-block product-tags">
                                            <div class="title-block">
                                                Product Tags
                                            </div>
                                            <div class="block-content">
                                                <ul class="listSidebarBlog list-unstyled">
                                                    {% for tag in all_tags %}
                                                    <li>
                                                        <a href="{% url 'products:filter' 'tag' tag.id %}" title="Show products matching tag {{ tag.title }}">{{ tag.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9">
                                        <div class="main-product-detail">
                                            <h2>{{ product.title }}</h2>
                                            <div class="product-single row">
                                                <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                    <div class="page-content" id="content">
                                                        <div class="images-container">
                                                            <div class="js-qv-mask mask tab-content border">
                                                                {% for image in product.images.all %}
                                                                <div id="item{{ forloop.counter }}" class="tab-pane fade {% if forloop.first %}active in show{% endif %}">
                                                                    <img src="{{ image.image.url }}" alt="{{ product.title }}">
                                                                </div>
                                                                {% empty %}
                                                                <div id="item1" class="tab-pane fade active in show">
                                                                    <img src="{% static 'img/product/placeholder.jpg' %}" alt="No image">
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            {% if product.images.all|length > 1 %}
                                                            <ul class="product-thumbnail nav nav-tabs" style="margin-top:10px;">
                                                                {% for image in product.images.all %}
                                                                <li {% if forloop.first %}class="active"{% endif %}>
                                                                    <a href="#item{{ forloop.counter }}" data-toggle="tab">
                                                                        <img src="{{ image.image.url }}" alt="{{ product.title }}" style="width:60px;height:60px;object-fit:cover;">
                                                                    </a>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                    <div class="detail-description">
                                                        <div class="price-del">
                                                            <span class="price">$ {{ product.price }}</span>
                                                            <span class="float-right">
                                                                <span class="availb">Availability: </span>
                                                                {% if product.stock|add:0 > 0 %}
                                                                <span class="check">
                                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                    IN STOCK ({{ product.stock }})
                                                                </span>
                                                                {% else %}
                                                                    <span class="availb text-danger" style="font-weight:600;">
                                                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                                    OUT OF STOCK
                                                                </span>
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                        <p class="description">{{ product.description }}</p>
                                                        <div class="option has-border d-lg-flex size-color">
                                                            <div class="colors">
                                                                <b class="title">Color : </b>
                                                                {% for color in product.colors.all %}
                                                               <span
                                                                    class="color-option"
                                                                    data-color-id="{{ color.id }}"
                                                                    style="display:inline-block;
                                                                           width:25px;
                                                                           height:25px;
                                                                           border-radius:4px;
                                                                           margin-right:8px;
                                                                           background-color:{{ color.code }};
                                                                           border:2px solid #ccc;
                                                                           cursor:pointer;"
                                                                    title="{{ color.title }}"
                                                                >
                                                                </span>
                                                                {% empty %}
                                                                <span class="text-muted">No colors available</span>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        {% if product.manufacturer %}
                                                        <div class="has-border" style="padding:10px 0;">
                                                            <b>Manufacturer:</b> {{ product.manufacturer.name }}
                                                        </div>
                                                        {% endif %}
                                                        {% if product.tags.all %}
                                                        <div class="has-border" style="padding:10px 0;">
                                                            <b>Tags:</b>
                                                            {% for tag in product.tags.all %}
                                                            <a href="{% url 'products:filter' 'tag' tag.id %}" class="badge badge-secondary" style="margin-right:5px;padding:5px 10px;background:#007bff;color:#fff;text-decoration:none;border-radius:3px;">
                                                                {{ tag.title }}
                                                            </a>
                                                            {% endfor %}
                                                        </div>
                                                        {% endif %}
                                                        <div class="has-border cart-area">
                                                            <form action="{% url 'basket:basket_add' product.id %}" method="post">
                                                                {% csrf_token %}
                                                                <div class="product-quantity">
                                                                    <div class="qty">
                                                                        <div class="input-group">
                                                                            <div class="quantity">
                                                                                <span class="control-label">QTY : </span>
                                                                                <input type="text" name="qty" id="quantity_wanted" value="1" class="input-group form-control">

                                                                                <span class="input-group-btn-vertical">
                                                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                                        +
                                                                                    </button>
                                                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                                        -
                                                                                    </button>
                                                                                </span>
                                                                            </div>
                                                                            <span class="add">
                                                                                <button class="btn btn-primary add-to-cart add-item" data-button-action="add-to-cart" type="submit">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    <span>Add to cart</span>
                                                                                </button>
                                                                                <a class="addToWishlist" href="{% url 'wishlist:wishlist_add' product.id %}">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <div class="clearfix"></div>
                                                            <p class="product-minimal-quantity"></p>
                                                        </div>
                                                        <div class="d-flex2 has-border">
                                                            <div class="btn-group">
                                                                <a href="#">
                                                                    <i class="zmdi zmdi-share"></i>
                                                                    <span>Share</span>
                                                                </a>
                                                                <a href="#" class="email">
                                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                    <span>SEN TO A FRIEND</span>
                                                                </a>
                                                                <a href="#" class="print">
                                                                    <i class="zmdi zmdi-print"></i>
                                                                    <span>Print</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="rating-comment has-border d-flex">
                                                            <div class="review-description d-flex">
                                                                <span>RATING :</span>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                        {% for i in "12345" %}
                                                                        {% if forloop.counter <= product.rating|floatformat:0 %}
                                                                        <div class="star filled"></div>
                                                                        {% else %}
                                                                        <div class="star"></div>
                                                                        {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <span style="margin-left:10px;">({{ product.rating }})</span>
                                                            </div>
                                                            <div class="read after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                    <span>READ REVIEWS ({{ comments.count }})</span>
                                                                </a>
                                                            </div>
                                                            <div class="apen after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                    <span>WRITE A REVIEW</span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="review">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#description" class="active show">Description</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#tag">Product Tags</a>
                                                    </li>
                                                    <li>
                                                        <a data-toggle="tab" href="#review">Reviews ({{ comments.count }})</a>
                                                    </li>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="description" class="tab-pane fade in active show">
                                                        <p>{{ product.description }}</p>
                                                    </div>

                                                    <div id="review" class="tab-pane fade">
                                                        <div class="spr-form">
                                                            <div class="user-comment">
                                                                {% for comment in comments %}
                                                                <div class="spr-review {% if not forloop.first %}preview2{% endif %}">
                                                                    <div class="spr-review-header">
                                                                        <span class="spr-review-header-byline">
                                                                            <strong>{{ comment.name }}</strong> -
                                                                            <span>{{ comment.created_at|date:"M d, Y" }}</span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="spr-review-content">
                                                                        <p class="spr-review-content-body">{{ comment.comment }}</p>
                                                                    </div>
                                                                </div>
                                                                {% empty %}
                                                                <p style="padding:20px;text-align:center;color:#999;">No reviews yet. Be the first to review this product!</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <form method="post" action="{% url 'products:comment' pk=product.pk %}" class="new-review-form">
                                                            {% csrf_token %}
                                                            <h3 class="spr-form-title">Write a review</h3>
                                                            <fieldset class="spr-form-contact">
                                                                <div class="spr-form-contact-name">
                                                                    <input name="name" class="spr-form-input spr-form-input-text form-control" placeholder="Enter your name" required>
                                                                </div>
                                                                <div class="spr-form-contact-email">
                                                                    <input name="email" type="email" class="spr-form-input spr-form-input-email form-control" placeholder="Enter your email" required>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="spr-form-review-body">
                                                                    <div class="spr-form-input">
                                                                        <textarea name="comment" class="spr-form-input-textarea" rows="10" placeholder="Write your comments here" required></textarea>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <div class="submit">
                                                                <input type="submit" class="btn btn-default" value="Submit Review">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div id="tag" class="tab-pane fade in">
                                                        <div style="padding:15px;">
                                                            {% for tag in product.tags.all %}
                                                            <a href="{% url 'products:filter' 'tag' tag.id %}" style="display:inline-block;margin:5px;padding:8px 15px;background:#f0f0f0;border-radius:5px;text-decoration:none;color:#333;">
                                                                {{ tag.title }}
                                                            </a>
                                                            {% empty %}
                                                            <p>No tags available for this product.</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/mainn.js' %}"></script>
{% endblock %}