{% extends 'layout/base.html'%}
{% load static %}
{% load i18n %}
{% load my_tags %}
{% block title %} Blog-list {% endblock %}
{% block body_id %}blog-list-sidebar-left{% endblock %}
{% block body_class %}blog{% endblock %}
{% block content %}
<div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'blogs:blogs_home'%}">
                                                <span>{% trans 'Home' %}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>{% trans 'Blogs' %}</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                        {% include 'blogs/blog-sidebar.html' %}

                                    </div>
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h2>Recent Posts</h2>
                                    {% if blogs %}
                                        {% for blog in blogs %}
                                            <div class="list-content row">
                                                <div class="hover-after col-md-5 col-xs-12">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                        <img src="{{ blog.image.url }}" alt="img">
                                                    </a>
                                                </div>
                                                <div class="late-item col-md-7 col-xs-12" >
                                                    <p class="content-title">
                                                        <a href="{% url 'blogs:detail' pk=blog.id %}"> {{ blog.title|slice:":40" }} </a>
                                                    </p>
                                                    <p class="post-info">
                                                        <span>{{ blog.created_at|date:"M d, Y" }}</span>
                                                        <span>113 Comments</span>
                                                        <span> {{ blog.author.full_name }} </span>
                                                    </p>
                                                    <p class="description">{{ blog.content|striptags|slice:":200" }}...
                                                    </p>
                                                    <span class="view-more">
                                                        <a href="{% url 'blogs:detail' pk=blog.id %}">view more</a>
                                                    </span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% if filter_type == "category" %}
                                            <p>No blogs found in this category.</p>
                                        {% elif filter_type == "tag" %}
                                            <p>No blogs found for this tag.</p>
                                        {% else %}
                                            <p>No blogs found.</p>
                                        {% endif %}
                                    {% endif %}
                                        <div class="page-list col">
                                            <ul class="justify-content-center d-flex">
                                                {% if page_obj.has_previous %}
                                                    <li>
                                                        <a rel="prev" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&s={{ search_query }}{% endif %}" class="previous js-search-link">
                                                            Previous
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <span class="previous disabled">Previous</span>
                                                    </li>
                                                {% endif %}

                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                        <li class="current active">
                                                            <a rel="nofollow" href="#" class="disabled js-search-link">
                                                                {{ num }}
                                                            </a>
                                                        </li>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                        <li>
                                                            <a rel="nofollow" href="?page={{ num }}{% if search_query %}&s={{ search_query }}{% endif %}" class="js-search-link">
                                                                {{ num }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if page_obj.has_next %}
                                                    <li>
                                                        <a rel="next" href="?page={{ page_obj.next_page_number }}{% if search_query %}&s={{ search_query }}{% endif %}" class="next js-search-link">
                                                            Next
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <span class="next disabled">Next</span>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}