{% load static %}

<!-- category -->
<div class="sidebar-block">
    <div class="title-block">Categories</div>
    <div class="block-content">
        {% for parent in parent_categories %}
            <div class="cateTitle hasSubCategory open level1">
                <span class="arrow collapse-icons collapsed"
                      data-toggle="collapse"
                      data-target="#category{{ parent.id }}"
                      aria-expanded="false" role="status">
                    <i class="zmdi zmdi-minus"></i>
                    <i class="zmdi zmdi-plus"></i>
                </span>

                <a class="cateItem" href="#">{{ parent.title }}</a>

                <div class="subCategory collapse"
                     id="category{{ parent.id }}"
                     aria-expanded="true" role="status">
                    {% for child in parent.children.all %}
                        <div class="cateTitle">
                            <a href="#" class="cateItem">{{ child.title }}</a>
                        </div>
                    {% empty %}
                        <div class="cateTitle">
                            <span class="text-muted">No subcategories</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <p class="text-muted">No categories found</p>
        {% endfor %}
    </div>
</div>

<!-- recent posts -->
<div class="sidebar-block">
    <div class="title-block">Recent Posts</div>
    <div class="post-item-content">
        {% for blog in blogs|slice:":3" %}
            <div>
                <div class="late-item {% if forloop.first %}first-child{% endif %}">
                    <a href="{% url 'blogs:detail' pk=blog.id %}">
                        <p class="content-title">{{ blog.title|truncatechars:40 }}</p>
                    </a>
                    <span>
                        <i class="zmdi zmdi-calendar-note"></i>
                        {{ blog.created_at|date:"M d, Y" }}
                    </span>
                    <p class="description">{{ blog.content|truncatechars:100 }}</p>
                    <p class="remove">
                        <a href="{% url 'blogs:detail' pk=blog.id %}">READ MORE</a>
                    </p>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">No recent posts</p>
        {% endfor %}
    </div>
</div>

<!-- product tag -->
<div class="sidebar-block product-tags">
    <div class="title-block">Blog Tags</div>
    <div class="block-content">
        <ul class="listSidebarBlog list-unstyled">
            {% for tag in tags %}
                <li>
                    <a href="#">{{ tag.title }}</a>
                </li>
            {% empty %}
                <li>No tags found</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- advertising -->
<div class="sidebar-block group-image-special">
    <div class="effect">
        <a href="#">
            <img class="img-fluid" src="{% static 'img/blog/advertising.jpg' %}" alt="banner-2" title="banner-2">
        </a>
    </div>
</div>
