{% load static %}
{% load i18n %}
{% load my_tags %}
 <!-- menu mobie left -->
    <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="item  parent">
                            <a href="#" class="hasicon" title="SIDE TABLE">
                                <img src="{% static 'img/home/table-lamp.png' %}" alt="img">{% trans 'SIDE TABLE' %}</a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE" aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                                <ul>
                                    <li class="item">
                                        <a href="#" title="{% trans 'Aliquam lobortis' %}">{% trans "Aliquam lobortis" %}</a>
                                    </li>
                                    <li class="item parent-submenu parent">
                                        <a href="#" title="{% trans 'Duis Reprehenderit' %}">{% trans "Duis Reprehenderit" %}</a>
                                        <span class="arrow collapsed" data-toggle="collapse" data-target="#sub-Category" aria-expanded="false" role="status">
                                            <i class="zmdi zmdi-minus"></i>
                                            <i class="zmdi zmdi-plus"></i>
                                        </span>
                                        <div class="subCategory collapse" id="sub-Category" aria-expanded="true" role="status">
                                            <ul>
                                                <li class="item">
                                                    <a href="#" title="{% trans 'Aliquam lobortis' %}">{% trans "Aliquam lobortis" %}</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="{% trans 'Duis Reprehenderit' %}">{% trans "Duis Reprehenderit" %}</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="{% trans 'Voluptate' %}">{% trans "Voluptate" %}</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="{% trans 'Tongue Est' %}">{% trans "Tongue Est" %}</a>
                                                </li>
                                                <li class="item">
                                                    <a href="#" title="{% trans 'Venison Andouille' %}">{% trans "Venison Andouille" %}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="{% trans 'Voluptate' %}">{% trans "Voluptate" %}</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="{% trans 'Tongue Est' %}">{% trans "Tongue Est" %}</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" title="{% trans 'Venison Andouille' %}">{% trans "Venison Andouille" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="item parent group">
                            <a href="#" class="hasicon" title="{% trans 'FI' %}">
                                <img src="{% static 'img/home/fireplace.png' %}" alt="img"> {% trans 'FIREPLACE' %}
                            </a>
                            <span class="arrow collapsed" data-toggle="collapse" data-target="#fi" aria-expanded="false" role="status">
                                <i class="zmdi zmdi-minus"></i>
                                <i class="zmdi zmdi-plus"></i>
                            </span>
                            <div class="subCategory collapse" id="fi" aria-expanded="true" role="status">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'DINNING ROOM' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'Toshiba' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Samsung' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier' %}</a></li>
                                            </ul>
                                        </div>

                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'BATHROOM' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'Toshiba' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Samsung' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier Media' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Gee' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Digimart' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Vitivaa' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sanaky' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sunshine' %}</a></li>
                                            </ul>
                                        </div>

                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'LIVING ROOM' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'Media' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Gee' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Digimart' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Vitivaa' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sanaky' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sunshine' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Toshiba' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Samsung' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier' %}</a></li>
                                            </ul>
                                        </div>

                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'BEDROOM' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier' %}</a></li>
                                            </ul>
                                        </div>

                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'KITCHEN' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier' %}</a></li>
                                            </ul>
                                        </div>

                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <div class="title">
                                                <b>{% trans 'Blender' %}</b>
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="#">{% trans 'LG' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Sharp' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Electrolux' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Hitachi' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Panasonic' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Mitsubishi Electric' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Daikin' %}</a></li>
                                                <li class="list-inline-item"><a href="#">{% trans 'Haier' %}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item group-category-img parent group">
                            <a href="#" class="hasicon" title="{% trans 'TABLE LAMP' %}">
                                <img src="{% static 'img/home/table-lamp.png' %}" alt="img"> {% trans 'TABLE LAMP' %}
                            </a>
                            ...
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'OTTOMAN' %}">
                                <img src="{% static 'img/home/ottoman.png' %}" alt="img"> {% trans 'OTTOMAN' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'ARMCHAIR' %}">
                                <img src="{% static 'img/home/armchair.png' %}" alt="img"> {% trans 'ARMCHAIR' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'CUSHION' %}">
                                <img src="{% static 'img/home/cushion.png' %}" alt="img"> {% trans 'CUSHION' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'COFFEE TABLE' %}">
                                <img src="{% static 'img/home/coffee_table.png' %}" alt="img"> {% trans 'COFFEE TABLE' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'SHELF' %}">
                                <img src="{% static 'img/home/shelf.png' %}" alt="img"> {% trans 'SHELF' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'SOFA' %}">
                                <img src="{% static 'img/home/sofa.png' %}" alt="img"> {% trans 'SOFA' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'DRESSING TABLE' %}">
                                <img src="{% static 'img/home/dressing.png' %}" alt="img">
                                {% trans 'DRESSING TABLE' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'WINDOWN CURTAIN' %}">
                                <img src="{% static 'img/home/windown.png' %}" alt="img">
                                {% trans 'WINDOWN CURTAIN' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'CHANDELIER' %}">
                                <img src="{% static 'img/home/chandelier.png' %}" alt="img">
                                {% trans 'CHANDELIER' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'CEILING FAN' %}">
                                <img src="{% static 'img/home/ceiling_fan.png' %}" alt="img">
                                {% trans 'CEILING FAN' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'WARDROBE' %}">
                                <img src="{% static 'img/home/wardrobe.png' %}" alt="img">
                                {% trans 'WARDROBE' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'FLOOR LAMP' %}">
                                <img src="{% static 'img/home/floor_lamp.png' %}" alt="img">
                                {% trans 'FLOOR LAMP' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'VASE-FLOWER' %}">
                                <img src="{% static 'img/home/vase-flower.png' %}" alt="img">
                                {% trans 'VASE-FLOWER' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'BED' %}">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">
                                {% trans 'BED' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'BED GIRL' %}">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">
                                {% trans 'BED GIRL' %}
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="{% trans 'BED BOY' %}">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">
                                {% trans 'BED BOY' %}
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- menu mobie right -->
    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up active d-md-none">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">{% trans 'Menu' %}</div>
                <div class="close-box">{% trans 'Close' %}</div>
            </div>
            <div class="box-content">
                <nav>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div id="megamenu" class="clearfix">
                        <ul class="menu level1">
                            <li class="item home-page has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#home1" aria-expanded="true" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="index-2.html" title="Home">
                                    <i class="fa fa-home" aria-hidden="true"></i>Home</a>
                                <div class="subCategory collapse" id="home1" aria-expanded="true" role="status">
                                    <ul>
                                        <li class="item">
                                            <a href="index-2.html" title="{% trans 'Home Page 1' %}">{% trans "Home Page 1" %}</a>
                                        </li>
                                        <li class="item">
                                            <a href="home2.html" title="{% trans 'Home Page 2' %}">{% trans "Home Page 2" %}</a>
                                        </li>
                                        <li class="item">
                                            <a href="home3.html" title="{% trans 'Home Page 3' %}">{% trans "Home Page 3" %}</a>
                                        </li>
                                        <li class="item">
                                            <a href="home4.html" title="{% trans 'Home Page 4' %}">{% trans "Home Page 4" %}</a>
                                        </li>
                                        <li class="item">
                                            <a href="home5.html" title="{% trans 'Home Page 5' %}">{% trans "Home Page 5" %}</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="item has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#blog" aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Blog">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>Blog</a>

                                <div class="subCategory collapse" id="blog" aria-expanded="true" role="status">
                                    <ul>
                                        <li class="item">
                                            <a href="blog-list-sidebar-left.html" title="{% trans 'Blog List (Sidebar Left)' %}">
                                                {% trans "Blog List (Sidebar Left)" %}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="blog-list-sidebar-left2.html" title="{% trans 'Blog List (Sidebar Left) 2' %}">
                                                {% trans "Blog List (Sidebar Left) 2" %}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="blog-list-sidebar-right.html" title="{% trans 'Blog List (Sidebar Right)' %}">
                                                {% trans "Blog List (Sidebar Right)" %}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="blog-list-no-sidebar.html" title="{% trans 'Blog List (No Sidebar)' %}">
                                                {% trans "Blog List (No Sidebar)" %}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="blog-grid-no-sidebar.html" title="{% trans 'Blog Grid (No Sidebar)' %}">
                                                {% trans "Blog Grid (No Sidebar)" %}
                                            </a>
                                        </li>
                                        <li class="item">
                                            <a href="blog-detail.html" title="{% trans 'Blog Detail' %}">
                                                {% trans "Blog Detail" %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item group has-sub">
                                <span class="arrow collapsed" data-toggle="collapse" data-target="#page" aria-expanded="false" role="status">
                                    <i class="zmdi zmdi-minus"></i>
                                    <i class="zmdi zmdi-plus"></i>
                                </span>
                                <a href="#" title="Page">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>page</a>
                                <div class="subCategory collapse" id="page" aria-expanded="true" role="status">
                                    <ul class="group-page">
                                        <li class="item container group">
                                            <div>
                                                <ul>
                                                    <li class="item col-md-4 ">
                                                    <span class="menu-title">{% trans "Category Style" %}</span>
                                                    <div class="menu-content">
                                                        <ul class="col">
                                                            <li>
                                                                <a href="product-grid-sidebar-left.html">
                                                                    {% trans "Product Grid (Sidebar Left)" %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="product-grid-sidebar-right.html">
                                                                    {% trans "Product Grid (Sidebar Right)" %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="product-list-sidebar-left.html">
                                                                    {% trans "Product List (Sidebar Left)" %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                    <li class="item col-md-4 html">
                                                        <span class="menu-title">{% trans "Product Detail Style" %}</span>
                                                        <div class="menu-content">
                                                            <ul>
                                                                <li>
                                                                    <a href="product-detail.html">
                                                                        {% trans "Product Detail (Sidebar Left)" %}
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        {% trans "Product Detail (Sidebar Right)" %}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>

                                                    <li class="item col-md-4 html">
                                                    <span class="menu-title">{% trans "Bonus Page" %}</span>
                                                    <div class="menu-content">
                                                        <ul>
                                                            <li>
                                                                <a href="404.html">
                                                                    {% trans "404 Page" %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="about-us.html">
                                                                    {% trans "About Us Page" %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item has-sub">
                                <a href="contact.html" title="Contact us">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>{% trans 'Contact us' %}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>